.maindiv
{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid;
    margin: 5px;
    background-image: linear-gradient(280deg,rgba(214, 28, 28, 0.411),rgba(0, 0, 255, 0.352));

}
#logoimage img
{
    height: 5vh;
    width: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navitems
{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    gap:40px;
    background-color: rgba(0, 255, 255, 0.479);
    margin: 8px;
    padding: 4px;
}
